<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${board.title}">Board Detail</title>
    <th:block th:replace="layouts/header.html :: headerFragment"></th:block>
</head>
<body>
    <div>
        <h1 th:text="'게시글 번호 : ' + ${board.id}"></h1>
        <h2 th:text="'작성자 : ' + ${board.nickName}"></h2>
        <h2 th:text="'날짜 : ' + ${board.createdDate}"></h2>
        <h3 th:text="'제목 : ' + ${board.title}"></h3>
        <h3 th:text="'내용 : ' + ${board.content}"></h3>
    </div>
    <div th:if="${board.nickName == nickName}">
        <a th:href="'/board/edit/' + ${board.id}"><button>수정</button></a>
    </div>
    <a th:href="'/board/list'"><button>목록</button></a>
    <th:block th:replace="layouts/footer.html :: footerFragment"></th:block>
</body>
</html>
