<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layouts/header.html :: headerFragment"></th:block>
    <!-- 여기에 CSS 파일을 포함할 수 있습니다 -->
</head>

<body>
    <!-- 본문 내용 -->
    <div class="container">
        <table>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.createdDate}"></td>
                <td th:text="${board.nickName}"></td>
                <td><a th:href="'/board/'+${board.id}" th:text="${board.title}"></a></td>
                <td th:text="${board.content}"></td>
            </tr>
        </table>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a href="/board/create"><button th:text="글쓰기"></button></a>
        <form action="/logout" method="post">
            <input type="submit" value="로그아웃">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        </form>
    </div>

    <div sec:authorize="isAnonymous()">
        <a href="/login"><button th:text="로그인"></button></a>
        <a href="/join"><button th:text="회원가입"></button></a>
    </div>

    <!-- footer -->
    <th:block th:replace="layouts/footer.html :: footerFragment"></th:block>
</body>
</html>