<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script>
            function confirmDelete(event, id) {
                event.preventDefault(); // 폼 제출 방지
                const confirmation = confirm("삭제하시겠습니까?");
                if (confirmation) {
                    // 사용자가 '확인'을 선택한 경우, 폼 제출
                    document.getElementById('deleteForm' + id).submit();
                }
            }
        </script>
    </head>
    <body>
        <th:block th:replace="layouts/header.html :: headerFragment"></th:block>

        <div class = "container">
            <div sec:authorize="isAuthenticated()">
                내가 작성한 글
                <table class="table text-center">
                    <thead class="table-light">
                    <tr>
                        <th class="col-sm-1">#</th>
                        <th class="col-sm-2">날짜</th>
                        <th class="col-sm-7">제목</th>
                        <th class="col-sm-2">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paging : ${paging}">
                        <td th:text="${paging.id}"></td>
                        <td th:text="${#temporals.format(paging.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td><a th:href="'/board/'+${paging.id}" th:text="${paging.title}"></a></td>
                        <td>
                            <form th:id="'deleteForm' + ${paging.id}" th:action="'/board/' + ${paging.id}" method="post">
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                <input type="hidden" name="redirectUrl" value="/mypage">
                                <button type="submit" class="btn btn-danger" th:onclick="'confirmDelete(event, ' + ${paging.id} + ');'">삭제</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${paging.first} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/mypage(page=${paging.getNumber() - 1})}">Previous</a>
                        </li>
                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(
            (paging.getNumber() - 5 <= 0 ? 0 : paging.getNumber() - 5),
            (paging.getNumber() + 4 <= paging.getTotalPages() - 1 ?  paging.getNumber() + 4 : paging.getTotalPages() - 1)
        )}" th:classappend="${pageNum == paging.getNumber()} ? 'active' : ''">
                            <a class="page-link" th:text="${pageNum + 1}" th:href="@{/mypage(page=${pageNum})}"></a>
                        </li>
                        <li class="page-item" th:classappend="${paging.last} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/mypage(page=${paging.getNumber() + 1})}">Next</a>
                        </li>
                    </ul>
                </nav>

                <a href="/board/create" class="btn btn-primary">글쓰기</a>
            </div>
        </div>

        <!-- footer -->
        <th:block th:replace="layouts/footer.html :: footerFragment"></th:block>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>